page-add-today-highlight {

.bck{
	background-color:#F7F7F7;
	color: #FFC80A;
	text-align:center;
	font-weight:400;
}

h1{
	font-weight:400;
	padding:10px;
}
.status{
	text-align:center;
	font-size:14px;
	margin-top:50px;
	color:#B3B3B3;
}

.status span{
	color:lightgrey;
}

#highlight{
	font-weight:bold;
	font-size:16px;
	color:#797979;
}

.status{
	text-align:center;
	font-size:14px;
}

.card{
	border-radius:7px;
	background-color:#F7F7F7;
		box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	padding:5px;
}

.delete{
color:#94AEBF;
font-size:30px;
	
}

.add{
	border-radius:10px;
	background-color:#C6EBED;
	font-size:50px;
	height:50px;
	width:300px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1)  ; 
	
}


.nav-button{
    border-radius:25px;
    background-color: #FFDE6B;
    color:#939393;
    width:100px;
    margin:15px;
    margin-top:50px;


	
}

.back{
    background-color: #FFDE6B;
    margin-left:40px;
    float:left;
	
}

.next{
    background-color: #FFC80A;
    margin-right:40px;
    float:right;
	
}


}
