page-complete {

.bck{
	background-color:#FCF3D4;
	color:#FFA000;
	font-size:26px;
}

ion-content{
	text-align:center;
}

#sunny-icon{
margin-top:100px;
	color: #FFD700;
	font-size:200px;

}

p{
	padding:10px;
}

}
