page-create-highlight {

.bck{
		background-color:#F7F7F7;
}

.border{
	border: 2px solid #FFC80A;
	border-radius:10px;

}

.float{
	float:legt;
}


.nav-button{
    border-radius:25px;
    background-color: #FFDE6B;
    color:#939393;
    width:100px;
    margin:15px;
	
}

.back{
    background-color: danger;
    margin-left:40px;
        float:left;
	
}

.next{
    background-color: tab;
    margin-right:40px;
        float:right;
	
}
}
