<ion-header>
      <ion-navbar>
        <ion-title>
          Today's Mood
        </ion-title>
      </ion-navbar>
    </ion-header>
    
    <ion-content padding style="text-align:center;">




    <h1>How do you feel today?</h1>



          <button class="moodbutton" ion-button clear icon-only (click)="saveMood('sad')">
          	<!-- colored icon, only shows when today's mood is not recorded yet or when today's mood is recorded as sad -->
            <img src="../../assets/icon/sad.svg" class="moodicon" *ngIf=" load &&(mood.type === ''|| mood.type === 'sad')">
          	<!-- colored icon, only shows when today's mood is recorded and is not recorded as sad  -->
            <img src="../../assets/icon/greysad.svg" class="moodicon" *ngIf=" load &&(mood.type !== '' && mood.type !== 'sad')">
          </button>

          <!-- same logic as the first button -->
          <button class="moodbutton" ion-button clear icon-only  (click)="saveMood('meh')" >        	
            <img src="../../assets/icon/meh.svg" class="moodicon" *ngIf="load &&(mood.type === ''|| mood.type === 'meh')">
            <img src="../../assets/icon/greymeh.svg" class="moodicon" *ngIf="load && (mood.type !== '' && mood.type !== 'meh')">
          </button>

          <!-- same logic as the first button -->
          <button class="moodbutton" ion-button clear icon-only (click)="saveMood('smile')">
            <img src="../../assets/icon/smile.svg" class="moodicon" *ngIf="load && (mood.type === ''|| mood.type === 'smile')">
            <img src="../../assets/icon/greysmile.svg" class="moodicon" *ngIf="load &&(mood.type !== '' && mood.type !== 'smile')">
          </button>
      
      <ion-item>
          <button ion-button (click)="goToHome()">Back</button>
          <button ion-button (click)="goToHighlightList()">Next</button>
      </ion-item>






      


    
    </ion-content>
