page-mood {


ion-content{
	text-align:center;
}
.moodicon {
	width:100px;
	height:100px;
}

.moodbutton {
	width:100px;
	height:100px;
}

span{
	color:lightgrey;
}

#highlight{
	font-weight:bold;
	font-size:16px;
	color:#797979;
}

.status{
	text-align:center;
	font-size:14px;
}

}
