page-mood {





.bck{
	background-color:#F7F7F7;
	color: #94AEBF;
	text-align:center;
}

.moodicon {
	width:100px;
	height:100px;
}

.moodbutton {
	width:100px;
	height:100px;
	margin-top:40px;
	margin-bottom:50px;
}



#highlight{
	font-weight:bold;
	font-size:16px;
	color:#797979;
}

.status{
	text-align:center;
	font-size:14px;
	margin-top:50px;
	color:#B3B3B3;
	margin-top:120px;
}

.status span{
	color:lightgrey;
}

.nav-button{
    border-radius:25px;
    background-color: #FFDE6B;
    color:#939393;
    width:100px;
    margin:15px;
	
}

.back{
    background-color: #FFDE6B;
    margin-left:40px;
        float:left;
	
}

.next{
    background-color: #FFC80A;
    margin-right:40px;
        float:right;
	
}

h1{
	margin:30px;
	font-weight:400;
}

}
