page-trend {
    .gallery {
        column-count: 2;
    }

    .one-img {
        margin: 5px;
        border-radius: 5px;
        // max-height: 100px;
    }

    img {
        border-radius: 5px;
    }


.bck{
    background-color:#F7F7F7;
    color: #94AEBF;
    text-align:center;
    font-weight:400;
}

h2{
    text-align:left;
}

.container{
    margin:20px;
    margin-top:50px;

}

.class{
    margin:10px;
    padding:10px;
}


}
